body {
    background-color: #040926;
    color: white;
  }
  .navbar {
    background-color: #148BA6;
  }
  .carousel {
    background-color: #1DDDF2;
    padding: 20px;
  }
  .footer {
    background-color: #25D9D9;
    padding: 10px;
    text-align: center;
  }
  .name{
    color: black;
  }
  .Genes {
    background-color: #66D9AF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: flex;
  justify-content: center;
  align-items: center;


  }
  