<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bio-Tec Company</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="conteiner">
    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
        <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"/></svg>
        <h1 class="text-body-emphasis">Crea Una Nueva Secuencia</h1>
        <p class="secuencias"></p>
        <p class="secuencias"></p>
        <div class="d-inline-flex gap-2 mb-5">
            <button class="CGen" type="button">Crear Nuevo Gen<svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"/></svg></button>
            <button class="GGen" type="button">Guardar Secuencia De Gen</button>
        </div>
        </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>
